html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    width: 100%;
    background: url(../assets/dust_scratches.png);
}

body,
section {
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.skipLink a {
    background-color: $colorAkabeni;
    color: $colorWhite;
    font-weight: 700;
    position: absolute;
    top: 50px;
    left: -2000px;
    padding: 20px;
    
    &:focus {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border: 3px solid black;
        z-index: 15;
        outline: none;
    }
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 150px;

    // @include respond-to("huge") {
    //     width: 90%;
    // }
}

.mobileHide {
    @media (max-width: 500px) {
        display: none;
    }    
}

.section {

    &--secondary {
        color: $colorKurotobi;
    }
}