html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    width: 100%;
    background: url(../assets/dust_scratches.png);
}

body,
section {
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.skipLink a {
    background-color: $colorAkabeni;
    color: $colorWhite;
    font-weight: 700;
    position: absolute;
    top: 50px;
    left: -2000px;
    padding: 20px;
    
    &:focus {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border: 3px solid black;
        z-index: 15;
    }
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;

    @include respond-to("medium") {
        width: 90%;
    }

    @include respond-to("small") {
        width: 100%;
    }
}

.mobileHide {
    @include respond-to("medium") {
        display: none;
    }    
}

.mobileShow {
    display: none;
    @include respond-to("medium") {
        display: block;
    }
}

.section {

    &--secondary {
        color: $colorKurotobi;
    }
}