$colorWhite: #ffffff;
$colorBlueLight: #eff3f3;
$colorBlueNavy: #2c3e50;
$colorGrayDark: #555555;
$colorGrayLight: #879cb0;
$colorOrangeLight: #fcb84b;
$colorOrangeDark: #fd5f42;
$colorTeal: #49a0ae;
$colorGreen: #22c48a;

$colorPrimary: $colorBlueLight;
$colorSecondary: $colorBlueNavy;

$colorSectionPrimaryBackground: $colorPrimary;
$colorSectionPrimaryHeader: $colorGrayDark;
$colorSectionSecondaryBackground: $colorSecondary;
$colorSectionSecondaryFont: $colorPrimary;