$colorWhite: #ffffff;
$colorBlack: #000000;
$colorShuiro: #ff454a;
$colorAkabeni: #c3272b;
$colorTobiiro:#4c221b;
$colorKurotobi: #351e1c;
$colorOtan: #ff4e20;

$colorHeading: $colorKurotobi;
$colorSubheading: $colorTobiiro;
$colorSectionPrimaryFont: $colorKurotobi;
$colorSectionSecondaryFont: $colorTobiiro;