// Reference: https://en.wikipedia.org/wiki/Traditional_colors_of_Japan

$colorWhite: #f5f5f5;
$colorBlack: #000000;
// $colorTobiiro:#4c221b;
$colorTobiiro: black;
$colorAkabeni: #c3272b;
// $colorShojohi: #dc3023;
$colorShojohi: inherit;
// $colorShuiro: #ff454a;
$colorShuiro: inherit;
// $colorOtan: #ff4e20;
$colorOtan: black;
$colorKurotobi: #351e1c;