@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

html,
body,
input {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    color: $colorKurotobi;

    @include respond-to("tiny") {
        font-size: 2rem;
    }
}

h2 {
    color: $colorTobiiro;
    font-size: 3rem;
    letter-spacing: 0px;
    line-height: 70px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px $colorShuiro;
    // Shuiro stroke underline?

    &::before {
        content: "<  ";
    }

    &::after {
        content: "  >";
    }

    @include respond-to("tiny") {
        font-size: 2rem;
    }
}

h3 {
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 800;
}

h4 {
    font-size: 0.8rem;
}

.header__heading {
    &__main--accent {
        font-weight: 600;
    }

    &__sub {
        font-size: 2.4rem;
        font-weight: 500;
        text-transform: none;

        @include respond-to("tiny") {
            font-size: 1.5rem;
        }
    }
}

.nav__link {
    font-size: 1.2rem;
    line-height: 70px;
    letter-spacing: 1px;

    @include respond-to("tiny") {
        font-size: 0.8rem;
        line-height: 40px;
    }
}

.about {
    &__subheading {
        font-size: 2.5rem;
    
        @include respond-to("tiny") {
            font-size: 1.8rem;
        }
    }

    &__text {
        font-size: 1.1rem;
        line-height: 32px;
    }

    &__text--accent {
        font-family: 'Nanum Brush Script', cursive;
        padding-top: 1rem;
        font-size: 2rem;
        text-align: center;
    }
}

.portfolio {
    &__title {
        font-size: 2.5rem;
        text-align: left;
        text-transform: capitalize;
        padding-bottom: 0.5rem;

        @include respond-to("tiny") {
            font-size: 2.2rem;
        }
    }

    &__description {
        font-size: 1.1rem;
        line-height: 1.4rem;

        @include respond-to("tiny") {
            font-size: 0.9rem;
        }
    }

    &__link {
        font-family: 'Nanum Brush Script', cursive;
        font-size: 1.6rem;
        line-height: 50px;
    }

    &__icon {
        font-size: 1.6rem;
    }
}

.skill {
    &__heading {
        font-size: 1.4rem;
    }

    &__icon {
        font-size: 2.6rem;
    }
}

.social__icon {
    font-size: 3.6rem;

    @include respond-to("tiny") {
        font-size: 3rem;
    }
}

.language__item {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 1.4rem;
}

.form {
    &__input,
    &__textarea {
        font-weight: 500;
        letter-spacing: 2px;
    }
}

.contact__form__status {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    font-size: 2rem;
}

.form__button {
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-family: 'Nanum Brush Script', cursive;
}

.footer__copy {
    font-family: 'Nanum Brush Script', cursive;
    text-align: center;
    font-size: 2rem;

    @include respond-to("tiny") {
        font-size: 1.6rem;
    }
}