@import url("https://fonts.googleapis.com/css?family=Roboto:400,500%7CRoboto+Slab:400,600");


html,
body,
input {
    font-size: 20px;
    font-family: "Roboto", sans-serif;

    @include respond-to("large") {
        font-size: 18px;
    }

    @include respond-to("medium") {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto Slab", serif;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    color: $colorKurotobi;

    @include respond-to("small") {
        font-size: 2.4rem;
    }
}

h2 {
    font-size: 1.8rem;
    line-height: 70px;
    text-align: center;

    &::before {
        color: $colorAkabeni;
        margin-right: 5px;
        content: "<  ";
    }

    &::after {
        color: $colorAkabeni;
        margin-left: 5px;
        content: "  >";
    }
}

h3 {
    letter-spacing: 1px;
    line-height: 30px;
}

h4 {
    font-size: 0.8rem;
}

.header__heading {
    &__main {
        font-weight: 600;
    }

    &__sub {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: none;
        text-align: left;
    }
}

.nav__link {
    outline: none;

    @include respond-to("small") {
        font-size: 0.9rem;
    }
}

.about {
    &__subheading {
        font-size: 1.2rem;
        text-align: center;
    }

    &__text {
        font-size: 1.1rem;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
}

.portfolio {
    &__title {
        font-size: 1.5rem;
        text-align: left;
        text-transform: capitalize;
        padding-bottom: 0.5rem;
    }

    &__link {
        line-height: 40px;
    }

    &__icon {
        font-size: 1.2rem;
    }
}

.skill {
    &__heading {
        letter-spacing: 1px;
    }

    &__icon {
        font-size: 1.8rem;
    }
}

.social {
    &__icon {
        font-size: 1.4rem;
    }

    &__item--email {
        font-family: "Roboto Slab", serif;
        letter-spacing: 0.1px;
    }

}

.language__item {
    font-size: 0.9rem;
}

.form {
    &__input,
    &__textarea {
        font-family: inherit;
        
        &::placeholder {
            text-transform: uppercase;
        }
    }
}

.contact {
    font-family: "Roboto Slab", serif;
}

.contact__form__status {   
    font-family: inherit;
    font-size: 1.4rem;
    text-align: center;
}

.form__button {
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
}

.footer__copy {
    font-family: "Roboto Slab", serif;
    font-size: 1.2rem;
    text-align: center;
}