.about {
    padding: 2rem 0 4rem;
    background-image: url(../assets/bedge_grunge.png);
    box-shadow: 0 0 30px 20px rgba(0,0,0,.2);

    &__image {
        margin: 0 auto;
        width: 350px;
        height: 400px;
        box-shadow: 0 0 10px 3px rgba($color: $colorTobiiro, $alpha: 0.8);
        overflow: hidden;

        @include respond-to("tiny") {
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
    }
    
    &__photo {
        width: 100%;
        transform: scale(1.1);

        @include respond-to("tiny") {
            transform: scale(1.3);
        }
    }

    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include respond-to("medium") {
            flex-direction: column;
        }
    }

    &__heading {
        flex: 0 1 100%;
        margin-top: 0;
    }

    &__subheading {
        color: $colorTobiiro;
        margin: 0 auto 30px;
        letter-spacing: 20px;
        text-decoration: underline;
    }

    &__textContainer {
        padding: 1.8rem 0;
    }

    &__container {
        &--text {
            flex-basis: 50%;

            @include respond-to("medium") {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                padding-bottom: 50px;
            }
        }

        &--skills {
            flex-basis: 40%;
            max-width: 500px;
            min-width: 400px;
            background-image: url(../assets/ricepaper.png);
            box-shadow: 0 0 30px 20px rgba(0,0,0,.2);
            padding: 3rem 2rem;
            align-self: flex-start;

            @include respond-to("medium") {
                margin: 3rem auto 0;
            }

            @include respond-to("small") {
                margin: 0 auto;
            }

            @include respond-to("tiny") {
                min-width: unset;
                padding: 1rem 1.2rem;
            }
        }
    }
}

.skill {
    &__heading {
        margin: 0.8rem 0;
        padding-top: 0.8rem;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__item {
        margin: 0 auto;
        text-align: center;

        &:hover {
            .skill__icon {
                text-shadow: 0px 0px 2px $colorWhite;
            }
        }
    }
    
    &__icon {
        color: $colorAkabeni;
        text-shadow: 0px 0px 1px $colorAkabeni;
        transition: all 1s;
    }
}