.about {
    padding: 2rem 0 4rem;

    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__heading {
        flex: 0 1 100%;
        margin-top: 0;

        &--accent {
            color: $colorOrangeDark;
        }
    }

    &__container {
        &--text {
            flex-basis: 50%;
        }

        &--skills {
            flex-basis: 40%;
        }
    }
}

.skill {
    &__heading {
        margin-bottom: 15px;
        text-decoration: underline;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 1 20%;
        text-align: center;
    }

    &__icon {
        font-size: 2.5rem;
    }
}