.about {
    padding: 2rem 0 4rem;
    background-image: url(../assets/bedge_grunge.png);
    box-shadow: 0 0 30px 20px rgba(0,0,0,.2);

    &__image {
        margin: 0 auto;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    &__photo {
        width: 100%;
    }

    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__heading {
        flex: 0 1 100%;
        margin-top: 0;
    }

    &__subheading {
        color: $colorTobiiro;
        margin: 0 auto 30px;
        letter-spacing: 20px;
        text-decoration: underline;
    }

    &__container {
        &--text {
            flex-basis: 50%;
        }

        &--skills {
            flex-basis: 35%;
            background-image: url(../assets/ricepaper.png);
            box-shadow: 0 0 30px 20px rgba(0,0,0,.2);
            padding: 2rem 2rem 1rem;
        }
    }
}

.category__item {
    &::after {
        content: "- - -";
        display: block;
        text-align: center;
        margin-top: 0.5rem;
        letter-spacing: 5px;
        text-shadow: 0px 0px 3px $colorTobiiro;
    }
}

.skill {
    &__heading {
        margin: 0.8rem 0;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__item {
        margin: 0 auto;
        text-align: center;
        transform: scale(1);
        transition: all 0.5s;

        &:hover,
        &:focus {
            transform: scale(1.4);
    
            .skill__icon {
                color: $colorOtan;
            }
        }
    }
    
    &__icon {
        color: $colorAkabeni;
        text-shadow: 0px 0px 3px $colorAkabeni;
        transition: all 1s;
        
    }
}