.contact {
    padding: 2rem 0;

    @include respond-to("small") {
        padding-top: 3rem;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px auto 0;
        padding: 3rem;
        border-radius: 8px;
        box-shadow: 0px 0px 5px 1px $colorGrey;
        background-image: url(../assets/cross_scratches.png);

        &__status {
            display: none;
            text-align: center;
            text-decoration: double underline;
            color: $colorAkabeni;
            margin: 0 auto;

            &--whitespace {
                min-height: 40px;
            }
        }
        
        @include respond-to("medium") {
            padding: 2rem;
        }

        @include respond-to("small") {
            width: 95%;
            margin-top: 2rem;
            padding: 2rem 1rem;
        }
    }
}


.form {
    
    &__input {
        width: 48%;

        @include respond-to("small") {
            width: 98%;
            margin: 0 auto;
        }
    }

    &__textarea {
        width: 98%;
        margin: 0 auto;
    }

    &__input,
    &__textarea {
        background: none;
        margin-bottom: 3px;
        padding: 10px 15px;
        background-image: url(../assets/dust_scratches.png);
        box-shadow: 0px 1px 2px 0px $colorGrey;
        border: none;
        color: $colorKurotobi;
        resize: none;

        &::placeholder {
            color: $colorBlack;
            font-weight: 500;
        }

        &:focus {
            outline: 2px solid rgba($color: $colorAkabeni, $alpha: 0.6);
        }
    }

    &__button {
        width: 98%;
        margin: 30px auto 0;
        padding: 0 30px;
        color: $colorWhite;
        letter-spacing: 1px;
        background-color: $colorGrey;
        border-radius: 3px;
        transition: all 0.5s ease;
        border: none;
        box-shadow: 0px 1px 3px 1px $colorGrey;

        &:hover,
        &:focus {
            background-color: $colorAkabeni;
            color: $colorWhite;
            cursor: pointer;
        }
    }
}