.contact {
    padding: 3rem 0;

    @include respond-to("small") {
        padding-top: 0;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding: 5rem 0 4rem;
        border-radius: 5px;

        &__status {
            display: none;
            text-align: center;
            text-decoration: double underline;
            color: $colorAkabeni;
            margin: 0 auto;

            &--whitespace {
                min-height: 40px;
            }
        }
        
        @include respond-to("medium") {
            padding: 4rem 0 2rem;
        }

        @include respond-to("small") {
            padding: 2rem 1rem 0;
        }
    }
}


.form {
    
    &__input {
        width: 48%;
      // flex: 1 1 50%;
    }

    &__textarea {
        width: 98%;
        margin: 0 auto;
    }

    &__input,
    &__textarea {
        background: none;
        margin-bottom: 3px;
        padding: 10px 15px;
        border: none;
        border-bottom: 1px solid $colorBlack;
        color: $colorKurotobi;
        resize: none;

        &::placeholder {
            color: $colorBlack;
            font-weight: 600;
        }

        &:focus {
            outline: 2px solid rgba($color: $colorAkabeni, $alpha: 0.6);
        }
    }

    &__button {
        width: 98%;
        border: none;
        margin: 20px auto 0;
        background-color: $colorGrey;
        color: $colorWhite;
        border-radius: 5px;
        transition: all 0.6s;
        border: 3px solid transparent;

        &:hover,
        &:focus {
            outline: none;
            background-color: $colorKurotobi;
            border: 3px solid $colorAkabeni;
            transform: scale(1.02);
        }
    }
}