.footer {
    margin: 0;
    padding: 15px 0;
    border-top: 3px solid $colorAkabeni;
    background-color: rgba($color: $colorBlack, $alpha: 0.9);
    
    &__stuff {
        display: flex;
        justify-content: center;

        .stuff__icon {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    
    .stuff__link {
        color: $colorWhite;
    }

    &__email {
        text-align: center;

        a:hover {
            color: $colorAkabeni;
        }
    }


    &__copy {
        color: $colorWhite;
        margin: 0;
    }
}