.header {
    position: relative;
    height: 100vh;

    &__bird {
        position: absolute;
        bottom: -100px;
        left: -50px;
        width: 50%;
        min-width: 380px;
        max-width: 700px;

        img {
            width: 100%;
        }
    }

    &__heading {
        &__container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            text-shadow: 0px 0px 1px $colorShuiro;
        }

        &__main {
            margin-bottom: 0;

            &--accent {
                color: $colorShuiro;
                text-shadow: 0px 0px 1px $colorShuiro;
            }
        }

        &__sub {
            margin-top: 0;
        }
    }



}