.nav {
    padding: 20px 0;

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;

        @include respond-to("medium") {
            justify-content: center;
        }
    }

    &__item {
        margin-left: 20px;

        @include respond-to("tiny") {
            margin-left: 10px;
        }

        &:first-of-type {
            margin-left: 0px;
        }
    }

    &__link {
        position: relative;
        color: $colorTobiiro;
        text-shadow: 0px 0px 1px $colorShuiro;

        &::after {
            content: " ";
            position: absolute;
            transform: scaleX(0);
            transition: all 1s;
            border-bottom: 2px solid transparent;
            left: 0;
            right: 0;
            bottom: -1px;
        }
        
        &:hover,
        &:focus {
            color: $colorAkabeni;
            
            &::after {
                border-bottom: 2px solid $colorTobiiro;
                transform: scaleX(1);
                bottom: -1px;
            }
        }
    }
}