.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 50px;
    height: 55px;
    border-bottom: 3px solid $colorAkabeni;
    position: fixed;
    z-index: 10;
    background-color: rgba($color: $colorBlack, $alpha: 0.9);

    @include respond-to("medium") {
        height: 50px;
        justify-content: center;
        padding: 0 20px;
    }

    
    &__list {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 40px;

        @include respond-to("small") {
            justify-content: space-around;
        }
    }

    &__item {
        margin-left: 20px;

        &:first-of-type {
            margin-left: 0px;
        }

        @include respond-to("small") {
            text-align: center;
        }
    }

    &__link {
        position: relative;
        color: $colorWhite;

        &::after {
            content: " ";
            position: absolute;
            transform: scaleX(0);
            transition: all 0.6s;
            border-bottom: 1px solid transparent;
            left: 0;
            right: 0;
            bottom: -1px;
        }
        
        &:hover,
        &:focus {
            color: $colorAkabeni;
            
            &::after {
                border-bottom: 1px solid $colorWhite;
                transform: scaleX(1);
                bottom: -1px;
            }
        }

        &:focus {
            outline: 1px dotted white;
        }
    }
}