.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 50px;
    height: 70px;
    // border-bottom: 1px solid white;
    position: fixed;
    z-index: 10;
    // background: url(../assets/dust_scratches.png);
    // background-color: $colorTobiiro;
    background-color: rgba($color: $colorTobiiro, $alpha: 0.9);
    // box-shadow: 0 0 5px 2px $colorTobiiro;
    
    &__list {
        display: flex;
        flex-wrap: nowrap;
        // justify-content: flex-end;
        align-items: center;
        height: 40px;

        @include respond-to("medium") {
            justify-content: center;
        }

        @include respond-to("tiny") {
            justify-content: space-around;
        }
    }

    &__item {
        margin-left: 20px;

        @include respond-to("tiny") {
            margin-left: 10px;
        }

        &:first-of-type {
            margin-left: 0px;
        }
    }

    &__link {
        position: relative;
        // color: $colorTobiiro;
        color: white;

        &::after {
            content: " ";
            position: absolute;
            transform: scaleX(0);
            transition: all 1s;
            border-bottom: 2px solid transparent;
            left: 0;
            right: 0;
            bottom: -1px;
        }
        
        &:hover,
        &:focus {
            color: $colorAkabeni;
            
            &::after {
                // border-bottom: 2px solid $colorTobiiro;
                border-bottom: 2px solid white;
                transform: scaleX(1);
                bottom: -1px;
            }
        }
    }
}