.portfolio {
    position: relative;
    z-index: 3;
    padding: 2rem 0 0;
    background-image: url(../assets/cross_scratches.png);
    box-shadow: 0px 1px 10px 0px $colorBlack;

    &__title {
        margin: 0 0 15px;
    }

    &__item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 40px 0 80px;
        padding: 2rem 0;
    
        &:nth-of-type(2n + 1) {
            flex-direction: row-reverse;
            
            @include respond-to("small") {
                flex-direction: column-reverse;
                align-items: center;
                padding: 1rem;
            }

            .portfolio__screenshot {
                flex-direction: row-reverse;
            }

            .screenshot__aside {
                left: unset;
                right: -15%;

                @include respond-to("small") {
                    left: 0;
                    right: none;
                    transform: translate(-50%, 0%);
                }
            }
        }

        @include respond-to("small") {
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 20px;
            padding: 1rem;
        }
    }
    
    &__text {
        width: 50%;
        
        @include respond-to("small") {
            margin-top: 1rem;
            width: 100%;
        }
    }

    &__description {
        line-height: 25px;
        margin: 1rem 0;
    }

    &__redirect {
        color: $colorAkabeni;
        font-weight: 500;
        border-bottom: 2px solid transparent;
        transition: all 0.6s;

        &:hover,
        &:focus {
            color: $colorKurotobi;
            border-bottom: 2px solid $colorAkabeni;
        }
    }

    &__screenshot {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        width: 35%;
        overflow: visible;

        @include respond-to("small") {
            width: 60%;
            flex-direction: row-reverse;
            margin-bottom: 20px;
        }
    }

    &__linkContainer {
        display: flex;
        flex-wrap: wrap;

        @include respond-to("small") {
            padding-top: 10px;
        }
    }

    &__button {
        background-color: rgba($color: $colorWhite, $alpha: 0.6);
        color: rgba($color: $colorBlack, $alpha: 0.9);
        padding: 0 10px;
        margin-right: 20px;
        border-radius: 5px;
        border: 1px solid $colorBlack;
        text-align: center;
        transition: all 0.6s ease;

        &:hover,
        &:focus-within {
            background-color: rgba($color: $colorBlack, $alpha: 0.9);
            color: $colorWhite;
            border: 1px solid transparent;
        }
    }

    &__link {
        color: inherit;
    }

    @include respond-to("small") {
        padding: 3rem 0 1rem;
    }
}

.language {
    &__item {
        background-color: $colorAkabeni;
        color: $colorWhite;
        font-weight: 500;
        padding: 0 8px;
        margin: 0 6px 6px 0;
        height: 25px;
        line-height: 25px;
        border-radius: 2px;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
    }
}

.screenshot {
    &__border {
        position: relative;
        border-radius: 5px;
    }

    &__image {
        width: 100%;
        border: 5px solid $colorBlack;
        border-radius: 10px;
    }

    &__aside {
        position: absolute;
        bottom: -20px;
        left: -15%;
        width: 30%;
        border-radius: 5px;
        z-index: 1;
    }

    &__mobile {
        width: 100%;
    }
}