.portfolio {
    position: relative;
    padding: 3rem 0;

    &__title {
        margin: 0 0 15px;
    }

    &__item {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 200px 0;
    
        &:nth-of-type(2n + 1) {
            flex-direction: row-reverse;

            .portfolio__screenshot {
                flex-direction: row-reverse;
            }

            .screenshot__aside {
                left: none;
                right: 0;
                transform: translate(240%, 7%);
            }
        }
    }
    
    &__text {
        width: 50%;
    }

    &__screenshot {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 45%;
    }

    &__linkContainer {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        padding: 0 10px;
        margin-right: 5px;
        height: 28px;
        line-height: 28px;
        border-radius: 2px;
        background-color: $colorWhite;
        text-align: center;
    }
}

.language {

    &__item {
        padding: 0 10px;
        margin-right: 5px;
        height: 28px;
        line-height: 28px;
        border-radius: 2px;
        text-align: center;
        background-color: #FF4E20;
        box-shadow: 0px 0px 2px 2px #FF4E20;
        color: #f6f6f6;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
    }
}

.screenshot {
    &__border {
        position: relative;
        width: 80%;
        height: 100%;
        border-radius: 5px;
    }

    &__image {
        width: 100%;
        height: 100%;
        border: 5px solid $colorTobiiro;
        box-shadow: 0px 0px 3px 1px $colorShuiro;
        border-radius: 10px;

        // &--black {
        //     border: 4px solid $colorBlack;
        // }
    }

    &__aside {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35%;
        height: 90%;
        border-radius: 5px;
        transform: translate(-60%, 7%);
        z-index: 1;
    }

    &__mockup {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &__mobile {
        width: 100%;
        height: 100%;
        padding: 30px 10px;
    }
}