.contact__form {
    display: flex;
    flex-wrap: wrap;
}

.form {

    &__input,
    &__textarea {
        background: none;
    }


    &__input {
        flex: 0 1 50%;
        padding: 10px;
    }

    &__textarea {
        flex: 1 1 100%;
    }

    &__button {
        flex: 1 1 100%;
    }
}