@import url("https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html,
body,
input {
  font-size: 20px;
  font-family: 'Nanum Gothic', sans-serif; }

h1,
h2,
h3,
h4 {
  font-family: 'Nanum Brush Script', cursive;
  text-align: center; }

h1 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  color: #351e1c; }
  @media (max-width: 480px) {
    h1 {
      font-size: 2rem; } }

h2 {
  color: #4c221b;
  font-size: 3rem;
  letter-spacing: 0px;
  line-height: 70px;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #ff454a; }
  h2::before {
    content: "<  "; }
  h2::after {
    content: "  >"; }
  @media (max-width: 480px) {
    h2 {
      font-size: 2rem; } }

h3 {
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 800; }

h4 {
  font-size: 0.8rem; }

.header__heading__main--accent {
  font-weight: 600; }

.header__heading__sub {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: none; }
  @media (max-width: 480px) {
    .header__heading__sub {
      font-size: 1.5rem; } }

.nav__link {
  font-size: 1.2rem;
  line-height: 70px;
  letter-spacing: 1px; }
  @media (max-width: 480px) {
    .nav__link {
      font-size: 0.8rem;
      line-height: 40px; } }

.about__subheading {
  font-size: 2.5rem; }
  @media (max-width: 480px) {
    .about__subheading {
      font-size: 1.8rem; } }

.about__text {
  letter-spacing: 1px;
  font-size: 1.12rem;
  line-height: 35px; }

.about__text--accent {
  font-family: 'Nanum Brush Script', cursive;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center; }

.portfolio__title {
  font-size: 2.5rem;
  text-align: left;
  text-transform: capitalize;
  padding-bottom: 0.5rem; }
  @media (max-width: 480px) {
    .portfolio__title {
      font-size: 2.2rem; } }

.portfolio__description {
  font-size: 1.1rem;
  line-height: 1.4rem; }
  @media (max-width: 480px) {
    .portfolio__description {
      font-size: 0.9rem; } }

.portfolio__link {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 1.6rem;
  line-height: 50px; }

.portfolio__icon {
  font-size: 1.6rem; }

.skill__heading {
  font-size: 1.4rem; }

.skill__icon {
  font-size: 2.6rem; }

.social__icon {
  font-size: 3.6rem; }
  @media (max-width: 480px) {
    .social__icon {
      font-size: 3rem; } }

.language__item {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 1.4rem; }

.form__input, .form__textarea {
  font-weight: 500;
  letter-spacing: 2px; }

.contact__form__status {
  font-family: 'Nanum Brush Script', cursive;
  text-align: center;
  font-size: 2rem; }

.form__button {
  font-size: 2.2rem;
  letter-spacing: 2px;
  font-family: 'Nanum Brush Script', cursive; }

.footer__copy {
  font-family: 'Nanum Brush Script', cursive;
  text-align: center;
  font-size: 2rem; }
  @media (max-width: 480px) {
    .footer__copy {
      font-size: 1.6rem; } }

html {
  scroll-behavior: smooth; }

body {
  position: relative;
  margin: 0;
  width: 100%;
  background: url(../assets/dust_scratches.png); }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.skipLink a {
  background-color: #dc3023;
  color: #f5f5f5;
  font-weight: 700;
  position: absolute;
  top: 50px;
  left: -2000px;
  padding: 20px; }
  .skipLink a:focus {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 3px solid #4c221b; }

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto; }
  @media (max-width: 1280px) {
    .wrapper {
      width: 90%; } }

@media (max-width: 500px) {
  .mobileHide {
    display: none; } }

.section--secondary {
  color: #351e1c; }

.header {
  position: relative;
  height: 100vh; }
  .header__bird {
    position: absolute;
    bottom: -100px;
    left: -50px;
    width: 40%;
    max-width: 700px; }
    @media (max-width: 800px) {
      .header__bird {
        width: 40%; } }
    @media (max-width: 980px) {
      .header__bird {
        width: 40%; } }
    @media (max-width: 650px) {
      .header__bird {
        bottom: 0; } }
    @media (max-width: 480px) {
      .header__bird {
        left: -20px;
        width: 60%; } }
    .header__bird img {
      width: 100%; }
  .header__heading__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-shadow: 0px 0px 2px #ff454a; }
  .header__heading__main {
    margin-bottom: 0; }
    .header__heading__main--accent {
      color: #ff454a;
      text-shadow: 0px 0px 2px #ff454a; }
  .header__heading__sub {
    margin-top: 0; }

.nav {
  padding: 20px 0; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 480px) {
      .nav__list {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .nav__item {
    margin-left: 20px; }
    @media (max-width: 480px) {
      .nav__item {
        margin-left: 10px; } }
  .nav__link {
    position: relative;
    color: #4c221b;
    text-shadow: 0px 0px 1px #ff454a; }
    .nav__link::after {
      content: " ";
      position: absolute;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transition: all 1s;
      transition: all 1s;
      border-bottom: 2px solid transparent;
      left: 0;
      right: 0;
      bottom: -1px; }
    .nav__link:hover, .nav__link:focus {
      color: #c3272b; }
      .nav__link:hover::after, .nav__link:focus::after {
        border-bottom: 2px solid #4c221b;
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        bottom: -1px; }

.about {
  padding: 2rem 0 4rem;
  background-image: url(../assets/bedge_grunge.png);
  -webkit-box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.2); }
  .about__image {
    margin: 0 auto 2rem;
    width: 380px;
    height: 450px;
    -webkit-box-shadow: 0 0 10px 3px rgba(76, 34, 27, 0.8);
            box-shadow: 0 0 10px 3px rgba(76, 34, 27, 0.8);
    overflow: hidden; }
    @media (max-width: 480px) {
      .about__image {
        width: 80%;
        height: unset; } }
  .about__photo {
    width: 100%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .about__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 980px) {
      .about__section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .about__heading {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-top: 0; }
  .about__subheading {
    color: #4c221b;
    margin: 0 auto 30px;
    letter-spacing: 20px;
    text-decoration: underline; }
  .about__container--text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-shadow: 0px 0px 1px #4c221b; }
    @media (max-width: 980px) {
      .about__container--text {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px; } }
  .about__container--skills {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    max-width: 500px;
    min-width: 400px;
    background-image: url(../assets/ricepaper.png);
    -webkit-box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.2);
    padding: 3rem 2rem;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    @media (max-width: 980px) {
      .about__container--skills {
        margin: 3rem auto 0; } }
    @media (max-width: 650px) {
      .about__container--skills {
        margin: 0 auto; } }
    @media (max-width: 480px) {
      .about__container--skills {
        min-width: unset;
        padding: 1rem 0.3rem; } }

.skill__heading {
  margin: 0.8rem 0;
  padding-top: 0.8rem;
  text-align: center; }

.skill__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.skill__item {
  margin: 0 auto;
  text-align: center; }
  .skill__item:hover .skill__icon {
    text-shadow: 0px 0px 2px #f5f5f5; }

.skill__icon {
  color: #c3272b;
  text-shadow: 0px 0px 3px #c3272b;
  -webkit-transition: all 1s;
  transition: all 1s; }

.portfolio {
  position: relative;
  padding: 3rem 0; }
  .portfolio__title {
    margin: 0 0 15px; }
    @media (max-width: 1100px) {
      .portfolio__title {
        margin: 2rem 0 1rem; } }
  .portfolio__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 80px 0;
    padding: 8rem 3rem;
    background-image: url(../assets/bedge_grunge.png);
    -webkit-box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.1); }
    .portfolio__item:nth-of-type(2n + 1) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      @media (max-width: 1100px) {
        .portfolio__item:nth-of-type(2n + 1) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
              -ms-flex-direction: column-reverse;
                  flex-direction: column-reverse;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 3rem; } }
      @media (max-width: 480px) {
        .portfolio__item:nth-of-type(2n + 1) {
          padding: 3rem 1rem; } }
      .portfolio__item:nth-of-type(2n + 1) .portfolio__screenshot {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
      .portfolio__item:nth-of-type(2n + 1) .screenshot__aside {
        left: unset;
        right: -15%; }
        @media (max-width: 1100px) {
          .portfolio__item:nth-of-type(2n + 1) .screenshot__aside {
            left: 0;
            right: none;
            -webkit-transform: translate(-60%, 7%);
                    transform: translate(-60%, 7%); } }
    @media (max-width: 1100px) {
      .portfolio__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 3rem; } }
    @media (max-width: 480px) {
      .portfolio__item {
        padding: 3rem 1rem; } }
  .portfolio__text {
    width: 50%; }
    @media (max-width: 1280px) {
      .portfolio__text {
        width: 45%; } }
    @media (max-width: 1100px) {
      .portfolio__text {
        width: 100%; } }
  .portfolio__description {
    line-height: 35px;
    margin: 40px 0; }
  .portfolio__redirect {
    color: #dc3023;
    font-weight: 700;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .portfolio__redirect:hover, .portfolio__redirect:focus {
      color: #351e1c;
      border-bottom: 2px solid #c3272b; }
  .portfolio__screenshot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 40%;
    overflow: visible; }
    @media (max-width: 1100px) {
      .portfolio__screenshot {
        width: 50%;
        margin-bottom: 2rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; } }
    @media (max-width: 980px) {
      .portfolio__screenshot {
        width: 70%; } }
  .portfolio__linkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 1100px) {
      .portfolio__linkContainer {
        padding-top: 10px; } }
  .portfolio__button {
    padding: 0 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid rgba(76, 34, 27, 0.2);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(76, 34, 27, 0.4);
            box-shadow: 0px 0px 2px 2px rgba(76, 34, 27, 0.4);
    background-color: rgba(245, 245, 245, 0.6);
    color: rgba(76, 34, 27, 0.9);
    text-align: center;
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }
    .portfolio__button:hover, .portfolio__button:focus-within {
      background-color: rgba(195, 39, 43, 0.9);
      color: #f5f5f5;
      text-shadow: 0px 0px 1px #f5f5f5;
      -webkit-box-shadow: 0px 0px 2px 2px rgba(195, 39, 43, 0.9);
              box-shadow: 0px 0px 2px 2px rgba(195, 39, 43, 0.9);
      border: 1px solid transparent; }
  .portfolio__link {
    color: inherit;
    outline: none; }
  .portfolio__icon {
    height: 32px; }
  @media (max-width: 480px) {
    .portfolio {
      padding: 3rem 0 1rem; } }

.language__item {
  padding: 0 10px;
  margin: 10px 10px 0 0;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  text-align: center;
  background-color: rgba(255, 78, 32, 0.8);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 78, 32, 0.8);
          box-shadow: 0px 0px 2px 2px rgba(255, 78, 32, 0.8);
  color: #f5f5f5; }

.language__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.screenshot__border {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  border-radius: 5px; }

.screenshot__image {
  width: 100%;
  border: 5px solid #4c221b;
  -webkit-box-shadow: 0px 0px 3px 1px #ff454a;
          box-shadow: 0px 0px 3px 1px #ff454a;
  border-radius: 10px; }

.screenshot__aside {
  position: absolute;
  bottom: -20px;
  left: -15%;
  width: 30%;
  border-radius: 5px;
  z-index: 1; }

.screenshot__mobile {
  width: 100%; }

.contact {
  padding: 3rem 0;
  background-image: url(../assets/ricepaper.png);
  background-repeat: repeat; }
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (max-width: 980px) {
      .contact__container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .contact__subcontainer {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 25px; }
    @media (max-width: 980px) {
      .contact__subcontainer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        max-width: 100%; } }
    @media (max-width: 480px) {
      .contact__subcontainer {
        width: 100%;
        padding: 0; } }
  .contact__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 85%;
            flex: 0 1 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem auto 3rem;
    padding: 4rem 4rem 20px;
    background-image: url(../assets/bedge_grunge.png);
    -webkit-box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    z-index: 3; }
    .contact__form__status {
      display: none;
      text-align: center;
      margin-bottom: 0;
      border-bottom: 3px dashed #c3272b; }
      .contact__form__status--whitespace {
        min-height: 90px; }
    @media (max-width: 980px) {
      .contact__form {
        padding: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%; } }
    @media (max-width: 650px) {
      .contact__form {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 auto; } }
    @media (max-width: 480px) {
      .contact__form {
        padding: 2rem 1rem 0; } }

.social__container {
  position: absolute;
  top: 0;
  left: -150px;
  padding: 4rem 0;
  width: 40%;
  max-width: 350px;
  background-image: url(../assets/mooning.png);
  -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1); }
  @media (max-width: 980px) {
    .social__container {
      padding: 1rem 0;
      margin: 0 auto;
      width: 80%;
      max-width: none;
      height: 280px;
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 480px) {
    .social__container {
      width: 100%;
      height: 180px;
      margin-top: 2rem; } }

.social__item {
  margin: 2.6rem auto;
  text-align: center; }
  @media (max-width: 650px) {
    .social__item {
      margin: auto; } }

.social__link {
  color: #c3272b;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-shadow: 0px 0px 4px #c3272b; }
  .social__link:focus {
    outline: none; }
  .social__link:hover .social__icon,
  .social__link:focus .social__icon {
    border-radius: 5px;
    border: 4px solid #c3272b;
    -webkit-box-shadow: 0 0 2px 2px #c3272b;
            box-shadow: 0 0 2px 2px #c3272b;
    text-shadow: 0 0 3px #c3272b;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.social__icon {
  padding: 5px;
  border: 4px solid transparent;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

.form__input, .form__textarea {
  background: none;
  margin-bottom: 3px;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px dashed #4c221b;
  color: #351e1c;
  text-shadow: 0px 0px 1px #4c221b; }
  .form__input:focus, .form__textarea:focus {
    outline: 3px solid rgba(195, 39, 43, 0.6); }

.form__button {
  border: none;
  margin-top: 20px;
  background-color: #ff4e20;
  color: #f5f5f5;
  text-shadow: 0px 0px 1px #f5f5f5;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 2px 2px #ff4e20;
          box-shadow: 0px 0px 2px 2px #ff4e20;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }
  .form__button:hover, .form__button:focus {
    outline: none;
    background-color: #dc3023;
    color: #351e1c;
    text-shadow: 0px 0px 2px #4c221b;
    -webkit-box-shadow: 0px 0px 2px 2px #dc3023;
            box-shadow: 0px 0px 2px 2px #dc3023; }

.footer {
  margin: 0;
  padding: 10px 0;
  background-color: #8C4736;
  color: #f5f5f5; }
  .footer__copy {
    text-shadow: 0px 0px 5px #4c221b;
    margin: 0; }
